/* ../../../assets/css/fonts */

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../../../assets/css/fonts/IRANSans/eot/IRANSansWeb_Bold.eot');
    src: url('../../../assets/css/fonts/IRANSans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../../../assets/css/fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../../assets/css/fonts/IRANSans/woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../../assets/css/fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../../../assets/css/fonts/IRANSans/eot/IRANSansWeb_Medium.eot');
    src: url('../../../assets/css/fonts/IRANSans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../../../assets/css/fonts/IRANSans/woff2/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../../assets/css/fonts/IRANSans/woff/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../../assets/css/fonts/IRANSans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../../../assets/css/fonts/IRANSans/eot/IRANSansWeb_Light.eot');
    src: url('../../../assets/css/fonts/IRANSans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../../../assets/css/fonts/IRANSans/woff2/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../../assets/css/fonts/IRANSans/woff/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../../assets/css/fonts/IRANSans/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../../../assets/css/fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot');
    src: url('../../../assets/css/fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../../../assets/css/fonts/IRANSans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../../assets/css/fonts/IRANSans/woff/IRANSansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../../assets/css/fonts/IRANSans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../../../assets/css/fonts/IRANSans/eot/IRANSansWeb.eot');
    src: url('../../../assets/css/fonts/IRANSans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../../../assets/css/fonts/IRANSans/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../../../assets/css/fonts/IRANSans/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../../../assets/css/fonts/IRANSans/ttf/IRANSansWeb.ttf') format('truetype');
}

/* General style */

* {
    font-family: IRANSans;
}

.main {
    margin: 20px auto;
    width: 1024px;
    direction: rtl
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* ---------------------------- */

.add-post {
    margin: 20px;
}

textarea {
    width: 428px;
    height: 175px;
}

.result {
    margin: 0px auto 50px;
    width: 391px;
    border-radius: 10px;
    text-align: center;
}

.g {
    background-color: green;
}

.r {
    background-color: red;
}