/* FONTS */

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/IRANSans/eot/IRANSansWeb_Bold.eot');
	src: url('fonts/IRANSans/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
	url('fonts/IRANSans/woff/IRANSansWeb_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('fonts/IRANSans/eot/IRANSansWeb_Medium.eot');
	src: url('fonts/IRANSans/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('fonts/IRANSans/woff2/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
	url('fonts/IRANSans/woff/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('fonts/IRANSans/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/IRANSans/eot/IRANSansWeb_Light.eot');
	src: url('fonts/IRANSans/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('fonts/IRANSans/woff2/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
	url('fonts/IRANSans/woff/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('fonts/IRANSans/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot');
	src: url('fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('fonts/IRANSans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
	url('fonts/IRANSans/woff/IRANSansWeb_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('fonts/IRANSans/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/IRANSans/eot/IRANSansWeb.eot');
	src: url('fonts/IRANSans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('fonts/IRANSans/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
	url('fonts/IRANSans/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('fonts/IRANSans/ttf/IRANSansWeb.ttf') format('truetype');
}

/*---- General style ----*/

* {
	font-family: IRANSans;
}

.main {
	margin: 20px auto;
	width: 1024px;
	direction: rtl;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ----------------------------------- */

.main-content {
	float: right;
	width: 73%;
}

.post-box {
	background-color: #f7f7f7;
	padding: 10px 20px;
	border: 1px solid #eee;
	border-radius: 5px;
	margin-bottom: 20px;
	box-sizing: border-box;
	width: 100%;
	position: relative;
}

.author {
	position: absolute;
	left: 10px;
}

.post-box>h2 {
	margin: 7px 10px 20px 7px;
}

.post-content {
	background-color: white;
}

a {
	text-decoration: none;
}

.sidebar {
	float: left;
	width: 26%;
}

.sidebar section {
	background-color: #ededed;
	padding: 10px 20px;
	border: 1px solid #eee;
	border-radius: 5px;
	margin-bottom: 20px;
	box-sizing: border-box;
	width: 100%;
	;
}

.clear-fix {
	clear: both;
}