@font-face {
    font-family: bykan;
    src: url("fonts/BYekan.eot") format('eot'), url("fonts/BYekan.ttf") format('truetype'), url("fonts/BYekan.woff") format('woff');
}

.box {
    font-family: 'bykan';
    direction: rtl;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

.title{
    text-align: center;
}

.fields {
    margin-bottom: 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px 12px;
}

.fields:focus {
    border: 2px solid #005dff;
    box-shadow: 0 0 5px 3px #82c1e6;
}

.fields-info {
    width: 23%;
    height: 35px;
}

label {
    box-sizing: border-box;
    width: 53px;
    display: inline-block;
}

.fields-text {
    font-family: 'bykan';
    width: 45%;
    min-height: 200px;
}


.btn {
    border: 1px solid #1c698f;
    border-bottom-width: 3px;
    border-right-width: 2px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    background-color: #3898b5;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 12px;
    margin: 5px;
    position: relative;
}

.btn:hover {
    color: white;
    opacity: 0.8;
}

.btn:active {
    top: 2px;
    border-bottom-width: 2px;
}

.btn-red {
    background-color: #cf4b10 !important;
    border-color: #8f5412 !important;
}

.btn-green {
    background-color: #77b55a !important;
    border-color: #4b8f29 !important;
}